{% extends 'base.html.twig' %}

{% block title %}admin-general-{{ parent() }}{% endblock %}

{% block body %}
<div class="container">
	<h1>Gerer les articles</h1>
	<div>
		<h5>Acceder à la liste des articles par categorie</h5>
		<div class="dropdown">
	  		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
	  		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	  			<a class="dropdown-item" href="{{ path('admin') }}">Accueil</a>
			    <a class="dropdown-item" href="{{ path('admin_ligue_1') }}">Ligue 1</a>
			    <a class="dropdown-item" href="{{ path('admin_actualite') }}">actualite</a>
			    <a class="dropdown-item" href="{{ path('admin_etranger') }}">Etranger</a>
			    <a class="dropdown-item" href="{{ path('admin_coupe_europe') }}">Coupe d'Europe</a>
			    <a class="dropdown-item" href="{{ path('admin_bleu_international') }}">Bleus-International</a>
			    <a class="dropdown-item" href="{{ path('admin_mercato') }}">Mercato</a>
			    <a class="dropdown-item" href="{{ path('admin_blog') }}">Blog</a>
	  		</div>
		</div>
	</div>
	<div class="row">
		<div class="text-right col-md-6">
			<a href="{{ path('admin_create') }}" class="btn btn-primary">Ajouter un article</a>
		</div>

		<div class="text-left col-md-6">
			<a href="{{ path('category_index') }}" class="btn btn-primary">Ajouter une categorie</a>
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message}}
		</div>
	{% endfor %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Categorie</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}

			<tr>
				<td>{{ article.title }}</td>
				<td>{{ article.category.title }}</td>
				<td>
					<a href="{{ path('admin_edit', {'id': article.id}) }}" class="btn btn-secondary">Modifier</a>
					<form method="post" action="{{ path('admin_delete', {id: article.id}) }}" onsubmit="return confirm('Etes vous sûr de Supprimer ?')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete', article.id)}}">
						<button class="btn btn-danger">Supprimer</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="row">
		<div class="text-right col-md-6">
			<a href="{{ path('admin_create') }}" class="btn btn-primary">Ajouter un article</a>
		</div>


		<div class="text-left col-md-6">
			<a href="{{ path('category_index') }}" class="btn btn-primary">Ajouter une categorie</a>
		</div>
	</div>
</div>
{% endblock %}
