{% extends 'base.html.twig' %}

{% block title %}blog-coupe_d'europe-{{ parent() }}{% endblock %}

{% block body %}

<section class="row index">
	<div class="col-md-8">
		<div class="dernierArticle">
			{{ include('blog/dernierArticle.html.twig')}}
		</div>

		<hr>

		<div class="listArticles">
			{{ include('blog/listArticles.html.twig') }}
		</div>

		<hr>

		<div class="restArticles">
			{{ include('blog/restArticles.html.twig')}}
		</div>
	</div>
	<div class="col-md-4 actualite">
		{{ include('blog/actualite.html.twig')}}
	</div>
	
</section>
{% endblock %}
