{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<section class="articles">
	{% for article in articles %}
		<article>
			<h2>{{ article.title }}</h2>
			<div class="metadata">Ecrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('h:i') }}
			</div>
			<div class="content">
				{% if articles.imagename %}
				<img src="{{ vich_uploader_asset(articles, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" width="100%" height="auto">
				{% endif %}
				{{ article.content | raw }}
				<a href="{{ path('blog_show',{'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
			</div>
		</article>
	{% endfor %}
</section>
<div class="navigation">
	{{ knp_pagination_render(pagination) }}
<div>
{% endblock %}
