{% extends 'admin/base.html.twig' %}

{% block title %}administration des commentaires-{{ parent() }}{% endblock %}

{% block body %}
<div class="container mb-4">
	<h1>Gerer les commentaires</h1>
	
	<div class="row">
		<div class="text-right col-md-6">
			<a href="{{ path('admin') }}" class="btn btn-primary">Retour à l'accueil</a>
		</div>

		<div class="text-left col-md-6">
			<a href="{{ path('category_index') }}" class="btn btn-primary">Ajouter une categorie</a>
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message}}
		</div>
	{% endfor %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Auteur</th>
				<th>Commentaire</th>
				<th>Article</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}

			<tr>
				<td>{{ comment.author }}</td>
				<td>{{ comment.content }}</td>
				<td>{{ comment.article.title }}</td>
				<td>
					<form method="post" action="{{ path('admin_comment_delete', {id: comment.id}) }}" onsubmit="return confirm('Etes vous sûr de Supprimer ?')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete', comment.id)}}">
						<a class="btn btn-danger"> <i class="fas fa-trash-alt"></i> </i></a>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="row">
		<div class="text-right col-md-6">
			<a href="{{ path('admin') }}" class="btn btn-primary">Retour à l'accueil</a>
		</div>

		<div class="text-left col-md-6">
			<a href="{{ path('category_index') }}" class="btn btn-primary">Ajouter une categorie</a>
		</div>
	</div>
</div>
{% endblock %}
