<article>
	{% for article in dernierArticle %}
	<div class="title">
		<h3><a href="{{ path('blog_show',{'id': article.id}) }}">{{ article.title }}</a></h3>
	</div>
	<div class="row content">
			<div class="col-md-6">
				{% if article.imagename %}
					<a href="{{ path('blog_show',{'id': article.id}) }}"><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="card-img-top"></a>
				{% endif %}
			</div>
			<div class="col-md-6 text">
				<span class="date">{{ article.createdAt | date('d/m') }}</span> - {{ article.content|slice(0,350)|raw }}
				
				<a href="{{ path('blog_show',{'id': article.id}) }}">Lire...</a>
			</div>
	</div>

	{% endfor %}
</article>