{% extends 'blog/base.html.twig' %}

{% block title %}blog-detailArticle-{{ parent() }}{% endblock %}

{% block body %}
<div class="container">	
	<div class="row show">
		<div class="col-md-8">
			<h2>{{ articles.title }}</h2>
			<div class="metadata">{{ articles.category.title }}: Mise en ligne le {{ articles.createdAt|date('d/m/y')}} à {{ articles.createdAt | date('H:i') }}; {{ articles.comments|length }} Commentaires </div>
			<div class="content-show">
				{% if articles.imagename %}
					<img src="{{ vich_uploader_asset(articles, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" class="float-left">
				{% endif %}
				{{ articles.content|raw }}
				
			</div>	
		
			<section id="commentaires">
				{% if articles.comments|length > 0 %}
					<h4>{{ articles.comments|length }}Commentaires :</h4>
					{% for comment in articles.comments %}

						<span>{{ comment.author.username|title}}</span> <small>{{ comment.createdAt|date('d/m/y à H:i')}}</small>
					
						{{ comment.content|raw}}
					<hr>
					{% endfor %}
				{% else %}
					<h4>Cet article n'a pas de commantaire. Soyez le premier à laisser un commentaire</h4>	
				{% endif %}

			{% if app.user %}
				{{ form_start(commentForm) }}
				{{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

				<button type="submit" class="btn btn-success">Commenter</button>
				{{ form_end(commentForm) }}

				{% else %}
				<h3>Connectez-vous pour commenter !</h3>
				<a href="{{ path('connect_login')}}" class="btn btn-primary">Connexion</a>
			{% endif %}
			<hr>

			</section>
		</div>
		<div class="col-md-4 actu-show">
			<h4>Fil d'actualités 24h/24</h4>
			{% for articles in actualite %}
				<div class="metadata">
					<span class="date">{{ articles.createdAt|date('d/m') }}</span>
					<a href="{{ path('blog_show',{'id': articles.id}) }}" class="titreActualite">{{ articles.title }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}